img {
    border-radius: 800px;
}
.card{
    background-color: rgb(3, 13, 68);
    color: white;
}
body {
    background-image: url('./assets/code.jpeg');
    background-size: cover;
  }
.card-body, .list-group-item{
    background-color: rgb(3, 13, 68);
    color: white;
}
{
    font-family:'Bree Serif';
}